* {
    direction: rtl;
    color: white;
}
a {
    text-decoration-color: none;
}
.nav {
    background-color: red;
    height: 25px;
    min-width: 100%;
    max-width: 100%;
    position: fixed;
    top: 0%;
}
.nav .menu {
    background-color: red;
}
.nav li {
    list-style: none;
    text-align: center;
}