body {
  background-color: orange;
}
.stage {
  background-color: blue;
  min-height: 200px;
  max-height: 200px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1000px) {
  .stage-kontainer {
    background-color: green;
    width: calc(95 / 4);
  }
}
.stage-kontainer {
  background-color: blue;
  min-height: 200px;
  max-height: 200px;
  padding-bottom: 220px;
}
.start-play {
    background-color: green;
    position: relative;
    bottom: 20%;
}