body{ 
    background-color: orange;
}
.stage {
    background-color: blue;
    min-height: 200px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 1000px) {
    .stage {
        min-width: calc(95%/4);
        max-width: calc(95%/4);
        margin-left: 1%;
    }
}
.stage spane {
    background-color: blue;
}